* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-image: url('../res/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #7a00dd;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: 600;
}

#title-img {
    height: 7rem;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 900px;
    background-color: #000000;
    border: 1px solid #373737;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.blog-text h3 {
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #7a00dd;
    font-size: 0.9rem;
}

.blog-text span:hover {
    color: #4d008b;
}

.blog-text .blog-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
}

.blog-text .blog-title:hover {
    color: #5c5c5c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    height: auto;
    max-height: none;
    display: -webkit-box;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #5c5c5c;
    transition: all ease 0.3s;
}

.blog-footer {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-footer span {
    color: #626262;
    font-size: 0.7rem;
}
.blog-footer p {
    color: #ffffff;
    font-size: 0.7rem;
    margin: 5px;
}

.download-button {
    background-color: #444444;
    color: #ffffff;
    border: 0px;
    padding: 10px;
}

.download-button:hover {
    background-color: #9d9d9d;
    color: #ffffff;
    border: 0px;
    padding: 10px;
}

/* Tabelle für Auftritte */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c1c1c;
    color: #ffffff;
}

thead {
    background-color: #5e00ac;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #373737;
}

th {
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}

tbody tr:hover {
    background-color: #444444;
}

/* Neue Regel für Links in der Tabelle */
.table-container table a {
    color: #b050ff; /* Standardfarbe für Links */
}

.table-container table a:hover {
    color: #4d008b; /* Farbe beim Hover-Effekt */
}

@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}

@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}
